@model AboutMe
<section data-id="about-me" class="animated-section">
    <div class="page-title">
        <h2>About <span>Me</span></h2>
    </div>

    <div class="section-content">
        <!-- Personal Information -->
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                <p>@Model.Description</p>
            </div>

            <div class="col-xs-12 col-sm-5">
                <div class="info-list">
                    <ul>
                        <li>
                            <span class="title">Age</span>
                            <span class="value">@Model.Age</span>
                        </li>

                        <li>
                            <span class="title">Residence</span>
                            <span class="value">@Model.Residence</span>
                        </li>

                        <li>
                            <span class="title">Address</span>
                            <span class="value">@Model.Residence</span>
                        </li>

                        <li>
                            <span class="title">e-mail</span>
                            <span class="value">@*<a href="https://lmpixels.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="ff9a929e9693bf9a879e928f939ad19c9092">[email&#160;protected]</a>*@@Model.Email</span>
                        </li>

                        <li>
                            <span class="title">Phone</span>
                            <span class="value">@Model.Phone</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End of Personal Information -->

        <div class="white-space-50"></div>

        <!-- Services -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                    <h3>What <span>I Do</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="col-inner">
                    <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-store"></i>
                            </div>
                            <div class="ci-text">
                                <h4>Ecommerce</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-laptop-phone"></i>
                            </div><div class="ci-text">
                                <h4>Web Design</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="col-inner">
                    <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-pencil"></i>
                            </div>
                            <div class="ci-text">
                                <h4>Copywriting</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-flag"></i>
                            </div><div class="ci-text">
                                <h4>Management</h4>
                                <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Services -->

        <div class="white-space-30"></div>

        <!-- Testimonials -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                    <h3>Testimonials</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="testimonials owl-carousel">
                    @await Component.InvokeAsync("Testimonials")
                </div>
            </div>
        </div>
        <!-- End of Testimonials -->

        <div class="white-space-50"></div>

        <!-- Clients -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="block-title">
                    <h3>Cilents</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="clients owl-carousel">

                    @await Component.InvokeAsync("Clients")

                </div>
            </div>
        </div>
        <!-- End of Clients -->

        <div class="white-space-50"></div>

        <!-- Pricing -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">

                <div class="block-title">
                    <h3>Pricing</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-xs-12 col-sm-12 ">
                <div class="fw-pricing clearfix row">

                   @await Component.InvokeAsync("Price")

                </div>
            </div>
        </div>
        <!-- End of Pricing -->

        <div class="white-space-50"></div>

        <!-- Fun Facts -->
        <div class="row">
            <div class="col-xs-12 col-sm-12">

                <div class="block-title">
                    <h3>Fun <span>Facts</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-heart"></i>
                    <h4>Happy Clients</h4>
                    <span class="fun-fact-block-value">578</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-clock"></i>
                    <h4>Working Hours</h4>
                    <span class="fun-fact-block-value">4,780</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 ">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-star"></i>
                    <h4>Awards Won</h4>
                    <span class="fun-fact-block-value">15</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>
        </div>
        <!-- End of Fun Facts -->

    </div>
</section>